<template name="join">
  <div class="page auth">
    <nav>
      <div class="nav-group">
        <a data-menu href="#" class="nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>

    <div class="content-scrollable">
      <div class="wrapper-auth">
        <h1 class="title-auth">Join.</h1>
        <p class="subtitle-auth" >Joining allows you to make private lists</p>

        <form>
          <div class="input-symbol">
            <input type="email" name="email" placeholder="Your Email" />
            <span class="icon-email"></span>
          </div>
          <div class="input-symbol">
            <input type="password" name="password" placeholder="Password" />
            <span class="icon-lock"></span>
          </div>
          <div class="input-symbol">
            <input type="password" name="confirm" placeholder="Confirm Password" />
            <span class="icon-lock"></span>
          </div>
          <button type="submit" class="btn-primary">Join Now</button>
        </form>
      </div>

      <a href="{{pathFor 'signin'}}" class="link-auth-alt">Have an account? Sign in</a>
    </div>

  </div>
</template>