<template name="body">
  <div id="container" class="{{menuOpen}}">
    <section id="menu">
      {{#if currentUser}}
        <div data-user-menu>{{email}}</div>
        {{#if userMenuOpen}}
          <a data-logout>Logout</a>
        {{/if}}
      {{else}}
        <div class="btns-group">
          <a href="{{pathFor 'signin'}}" class="btn-secondary">Sign In</a>
          <a href="{{pathFor 'join'}}" class="btn-secondary">Join</a>
        </div>
      {{/if}}


      <a data-new-list>
        <span class="icon-plus"></span>
        <span class="title-menu">New List</span>
      </a>

      {{#each lists}}
        <a href="{{pathFor 'listsShow'}}" class="{{activePage 'listsShow'}}">
          <span class="title-menu">{{name}}</span>
          {{#if isPrivate}}
            <span class="icon-lock"></span>
          {{/if}}
        </a>
      {{/each}}
    </section>

    <div id="content-container">
      {{> yield}}
    </div>
  </div>
</template>