<template name="body">
  <div id="container" class="{{menuOpen}}">
    <section id="menu">
      {{#if currentUser}}
        <div class="btns-group-vertical">
          <div data-user-menu class="btn-secondary">{{email}}
            {{#if userMenuOpen}}
              <span class="icon-arrow-up"></span>
              {{else}}
              <span class="icon-arrow-down"></span>
            {{/if}}
          </div>
          {{#if userMenuOpen}}
            <a data-logout class="btn-secondary">Logout</a>
          {{/if}}
        </div>
      {{else}}
        <div class="btns-group">
          <a href="{{pathFor 'signin'}}" class="btn-secondary">Sign In</a>
          <a href="{{pathFor 'join'}}" class="btn-secondary">Join</a>
        </div>
      {{/if}}


      <div class="list-todos">
        <a data-new-list class="link-list-new"><span class="icon-plus"></span>New List</a>

        {{#each lists}}
          <a href="{{pathFor 'listsShow'}}" class="list-todo {{activeListClass}}" title="{{name}}">
            {{name}}
            {{#if isPrivate}}
              <span class="icon-lock"></span>
            {{/if}}
          </a>
        {{/each}}
      </div>
    </section>

    <div class="content-overlay"></div>

    <div id="content-container">
      {{> yield}}
    </div>
  </div>
</template>