<template name="listsShow">
  <div class="page lists-show">
    <nav>
      {{#if editing}}
        <form class="list-edit-form" data-edit-form>
          <div class="input-symbol">
            <input type="text" name="name" value="{{name}}">
            <span class="icon-edit"></span>
          </div>
          <div class="nav-group right">
            <a data-cancel href="#" class="nav-item"><span class="icon-close"></span></a>
          </div>

        </form>
      {{else}}
        <div class="nav-group">
          <a data-menu href="#" class="nav-item"><span class="icon-list-unordered"></span></a>
        </div>

        <h1 class="title-page"><span class="title-wrapper">{{name}}</span> <span class="count-list">{{todos.count}}</span></h1>

        <div class="nav-group right">

          <div class="nav-item options-mobile">
            <select class="list-edit">
              <option disabled selected>Select an action</option>
              <option value="edit">Edit</option>
              <option value="delete">Delete</option>
              {{#if currentUser}}
                {{#if userId}}
                  <option value="public">Public</option>
                {{else}}
                  <option value="private">Private</option>
                {{/if}}
              {{/if}}
            </select>
            <span class="icon-cog"></span>
          </div>
          <div class="options-web">
            <a data-edit-list class="nav-item"><span class="icon-edit"></span></a>
            {{#if currentUser}}
              <a data-toggle-list-privacy class="nav-item">
                {{#if userId}}
                  <span class="icon-lock"></span>
                {{else}}
                  <span class="icon-unlock"></span>
                {{/if}}
              </a>
            {{/if}}
            <a data-delete-list class="nav-item"><span class="icon-trash"></span></a>
          </div>

        </div>
      {{/if}}
      <form data-todo-new class="todo-new input-symbol">
        <input type="text" placeholder="Add Item">
        <span class="icon-add"></span>
      </form>
    </nav>


    <div class="content-scrollable list-items">
      {{#each todos}}
        {{> todosItem}}
      {{else}}
        <div class="wrapper-message">
          <div class="title-message">You have no todos</div>
        </div>
      {{/each}}
    </div>
  </div>
</template>