<template name="listsShow">
  <div class="page lists-show">
    {{#if editing}}
      <form class="edit-list-form">
        <span class="icon-pen"></span>
        <input type="text" name="name" value="{{name}}">
        <span class="icon-cross" data-cancel>CANCEL</span>
      </form>
    {{else}}
      <nav>
        <div class="nav-group">
          <a data-menu href="#" class="nav-item"><span class="icon-list-unordered"></span></a>
        </div>

        <h1 class="title-page"><span class="title-wrapper">{{name}}</span> <span class="count-list">{{todos.count}}</span></h1>

        <div class="nav-group right">

          <div class="nav-item mobile-only">
            <select class="edit-list">
              <option disabled selected></option>
              <option value="edit">Edit</option>
              <option value="delete">Delete</option>
              {{#if currentUser}}
                {{#if userId}}
                  <option value="public">Public</option>
                {{else}}
                  <option value="private">Private</option>
                {{/if}}
              {{/if}}
            </select>
            <span class="icon-cog"></span>
            <div class="desktop-only">
              <a href="#" class="nav-item"><span class="icon-edit"></span></a>
              <a href="#" class="nav-item"><span class="icon-lock"></span></a>
              <a href="#" class="nav-item"><span class="icon-trash"></span></a>
            </div>
          </div>

        </div>

        <form data-new-todo class="new-todo input-symbol">
          <input type="text" placeholder="Add Item">
          <span class="icon-add"></span>
        </form>
      </nav>
    {{/if}}

    <div class="content-scrollable list-items">
      {{#each todos}}
        {{> todosItem}}
      {{else}}
        <div class="wrapper-message">
          <div class="title-message">You have no todos</div>
        </div>
      {{/each}}
    </div>
  </div>
</template>